body {
  font-family: "Roboto", sans-serif;
  font-size: 10px;
}

h1,
nav {
  display: inline-block;
}

li {
  list-style-type: none;
  display: inline;
}

img {
  width: 300px;
  aspect-ratio: 2/3;
}
